---
layout: default
---

<div id="Blogs">
  <div class="container-fluid">
    <div class="row animate-box">
      <div class="col-md-12 heading text-center">
        <h2>Blogs</h2>
      </div>
    </div>
    <div class="row row-eq-height">
      {% for post in paginator.posts %}
      <div class="col-sm-6 col-md-4 col-lg-3 animate-box">
        <a class="card mb-4 box-shadow" href="{{ site.baseurl }}{{ post.url }}#blogs">
          {% if post.thumb %}
          <img src="{{ site.baseurl }}/img/thumb/{{ post.thumb }}" alt="Free HTML5 Bootstrap template" class="img-responsive">
          {% else %}
          <img src="/images/img_large_1.jpg" alt="Free HTML5 Bootstrap template" class="img-responsive">
          {% endif %}
          <div class="card-body">
            <h3>{{ post.title }}</h3>
            <div class="d-flex justify-content-between align-items-center">
              <p>{{ post.date | date: "%B %e, %Y" }}</p>
              <small class="text-muted">{{ post.category }}</small>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% include paginate.html %}
  </div>
</div>
