<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://twitter.com/waku_P"><i class="ti-twitter-alt"></i></a></li>
      <li><a href="https://www.facebook.com/wakuwakup765"><i class="ti-facebook"></i></a></li>
      <li><a href="https://github.com/WakuwakuP"><i class="ti-github"></i></a></li>
    </ul>
    <ul class="bd-footer-links">
      <li><a href="https://www.wakuwakup.net/feed.xml"><i class="ti-rss-alt"></i></a></li>
    </ul>
    <div class="col-md-12 footer-box text-center">
      <p>&copy; 2018 <a href="http://www.wakuwakup.net" target="_blank">Naoki Fujisawa</a></p>
    </div>
  </div>
</footer>