<footer role="contentinfo" id="fh5co-footer">
  <a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="ti-angle-up"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 footer-box" id="contact_wakuwakup" style="text-align: center;">
        <h3 class="fh5co-footer-heading">Get in touch</h3>
        <ul class="fh5co-social-icons">
          <li>
            <a href="https://twitter.com/waku_P"><i class="ti-twitter-alt"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/wakuwakup765"><i class="ti-facebook"></i></a>
          </li>
          <li>
            <a href="https://github.com/WakuwakuP"><i class="ti-github"></i></a>
          </li>
        </ul>
        <h3 class="fh5co-footer-heading">RSS</h3>
        <ul class="fh5co-social-icons">
          <li>
            <a href="https://wakuwakup.net/feed.xml"><i class="ti-rss-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 footer-box text-center">
      <div class="fh5co-copyright">
        <p>&copy; 2017 Naoki Fujisawa <a href="http://wakuwakup.net" target="_blank">Naoki Fujisawa</a></p>
      </div>
    </div>
    <!-- END row -->
    <div class="fh5co-spacer fh5co-spacer-md"></div>
  </div>
</footer>
