<header id="fh5co-header-section" role="header" class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Wakuwaku P</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blogs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for category in site.categories %}
            <!-- <li class="dropdown-item"> -->
              <a href="#">{{ category[0] }}</a>
                <!-- {% for posts in category %} {% for post in posts %} {% if post.title != nil %}
                <a class="dropdown-item" href="{{ post.url }}">{{ post.date | date: "%B %e, %Y" }}</a>
                {% endif %} {% endfor %} {% endfor %} -->
              <!-- </ul> -->
            <!-- </li> -->
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <h1 class="display-4">WakuwakuP</h1>
      <p class="lead"><a href="#contact_wakuwakup" class="smoothscroll btn btn-outline btn-md">Contact</a></p>
    </div>
  </div>
</div>
