<header id="fh5co-header-section" role="header" class="">
  <div class="container">
    <!-- <div id="fh5co-menu-logo"> -->
    <!-- START #fh5co-logo -->
    <h1 id="fh5co-logo" class="pull-left">
      <a href="/">Wakuwaku P</a>
    </h1>
    <!-- START #fh5co-menu-wrap -->
    <nav id="fh5co-menu-wrap" role="navigation">
      <ul class="sf-menu" id="fh5co-primary-menu">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#" class="fh5co-sub-ddown">Blogs</a>
          <ul class="fh5co-sub-menu">
            {% for category in site.categories %}
            <li>
              <a href="#">{{ category[0] }}</a>
              <ul class="fh5co-sub-menu">
                {% for posts in category %} {% for post in posts %} {% if post.title != nil %}
                <li><a href="{{ post.url }}">{{ post.date | date: "%B %e, %Y" }}</a></li>
                {% endif %} {% endfor %} {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="#" class="fh5co-sub-ddown">Dropdown</a>
           <ul class="fh5co-sub-menu">
            <li><a href="#">GPGPU</a>
              <ul class="fh5co-sub-menu">
                <li><a href="CUDA.html">CUDA</a></li>
                <li><a href="ArrayFire.html">ArrayFire</a></li>
              </ul>
            </li>
            <li><a href="Web.html">Web</a></li>
            <li><a href="https://wakuwakup.net/Kadai_no_Hakaba/">Documents</a></li>
            <li><a href="https://wakuwakup.net/tokuron/">Tokuron</a></li>
          </ul>
        </li>
        <li>
          <a href="/about.html" class="fh5co-sub-ddown">About</a>
           <ul class="fh5co-sub-menu">
            <li><a href="/about.html#Skills" class="smoothscroll">Skills</a></li>
            <li><a href="/about.html#Hobbys" class="smoothscroll">Hobbys</a></li>
            <li><a href="/about.html#Education" class="smoothscroll">Education</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- </div> -->

  </div>
</header>

<div id="fh5co-hero">
  <div class="overlay"></div>
  <a href="#fh5co-main" class="smoothscroll fh5co-arrow to-animate hero-animate-4"><i class="ti-angle-down"></i></a>
  <!-- End fh5co-arrow -->
  <div class="container">
    <div class="col-md-12">
      <div class="fh5co-hero-wrap">
        <div class="fh5co-hero-intro">
          <h1 class="to-animate hero-animate-1">Naoki Fujisawa</h1>
          <p class="to-animate hero-animate-3"><a href="#contact_wakuwakup" class="smoothscroll btn btn-outline btn-md">Contact</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
