---
layout: default
---

<div id="blogs">
  <div class="fh5co-cards">
    <div class="container-fluid">
      <div class="row animate-box">
        <div class"col-lg-push-8 col-md-push-8 col-sm-12 ">
          <div class="row">
            <div class="col-md-12 sheading text-center">
              <h2>{{ page.title }}</h2>
              <p>{{ page.category }}</p>
            </div>
            <div class="col-md-12 animate-box fadeInUp animated">
              {{ content }}
            </div>
            <div class="col-md-12 heading text-center">
              Written on {{ page.date | date: "%B %e, %Y" }}
            </div>
          </div>
        </div>
        <div class="col-lg-pull-4 col-md-pull-4 col-sm-12 sheading">
          {% for category in site.categories %}
          <h4>{{ category[0] }}</h4>
          <ul>
            {% for posts in category %} {% for post in posts %} {% if post.title != nil %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %} {% endfor %} {% endfor %}
          </ul>
          {% endfor %}
        </div>
        <div>
          <div class="col-lg-6 col-md-6 col-sm-12 heading text-center">
            {% if page.previous %}
            <a class="fh5co-card" href="https://wakuwakup.net{{ page.previous.url }}#blogs">
              <div class="fh5co-card-body">
                <h3>Previous</h3>
                <p>{{ page.previous.title }}</p>
              </div>
            </a>
            {% endif %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 heading text-center">
            {% if page.next %}
            <a class="fh5co-card" href="https://wakuwakup.net{{ page.next.url }}#blogs">
              <div class="fh5co-card-body">
                <h3>Next</h3>
                <p>{{ page.next.title }}</p>
              </div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
